.mainContainer {
  height: 100vh;
  display: flex;
}

.sideBar {
  width: 15vw;
  height: -webkit-fill-available;
  padding: 1rem 0.5rem;
  background: #fff;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.sideBar hr {
  margin: auto 0 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.logo {
  color: #474444;
  font-family: "Jomhuria", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  text-align: center;
}

.modesContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -webkit-fill-available;
}

.modeBtn {
  border-radius: 0.625rem;
  background: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-weight: 550;
}

.activeScreen {
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
}

.logoutBtn {
  font-weight: 550;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.subContainer {
  margin-left: auto;
  margin-right: auto;
}

.dashboardScreen {
  padding: 3rem;
}

.dashboardMainCard {
  display: flex;
  gap: 1rem;
}

.totalQuiz,
.totalQuestions,
.totalImpressions {
  border-radius: 0.625rem;
  background: #fff;
  padding: 1rem;
  color: #ff5d01;
  flex: 1;
  font-size: 2rem;
  font-style: normal;
}

.trendingQuizCard {
  border-radius: 0.3125rem;
  background: #fff;
  padding: 1rem;
  width: max-content;
}

.trendingQuizCard > div {
  display: flex;
  gap: 1rem;
}

.quizName {
  font-size: 1.3rem;
}

.impressions {
  color: #ff5d01;
  margin-left: auto;
  margin-right: 0.5rem;
}

.creationDate {
  color: #60b84b;
  font-size: 0.9rem;
}

.analyticsScreen {
  text-align: center;
}

.analyticsHeading {
  color: #5076ff;
  margin: 2rem;
}

.analyticsTable {
  border-collapse: collapse;
}

.analyticsTable th,
.analyticsTable td {
  padding: 8px;
}

.analyticsTable tbody tr {
  border-radius: 1rem;
}

.analyticsTable tr:nth-child(2n) {
  background-color: #b3c4ff;
  border-radius: 1rem;
}

.analyticsTable thead {
  background-color: #5076ff;
  border-radius: 1rem;
  color: #ffffff;
  padding: 12px;
}

.analyticsTable tbody img {
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal {
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 5px;
  width: 30vw;
  height: 30vh;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

.buttonContainer {
  display: flex;
  gap: 2rem;
  width: -webkit-fill-available;
  justify-content: space-around;
}

.confirmDeleteModalButton {
  border-radius: 0.625rem;
  background: #ff4b4b;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  flex: 1;
  cursor: pointer;
}

.cancelModalButton {
  border-radius: 0.625rem;
  background: #fff;
  padding: 0.5rem;
  flex: 1;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
